<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgresPlusDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/ISSDatabase</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">3.B1d1an</property>

        <!-- Hibernate ORM properties -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Echo all executed SQL to stdout -->
<!--        <property name="show_sql">true</property>-->
<!--        <property name="format_sql">true</property>-->

        <!-- Mapping files -->
        <mapping class="com.example.magazinonlineapp.domain.Angajat"/>
        <mapping class="com.example.magazinonlineapp.domain.Client"/>
        <mapping class="com.example.magazinonlineapp.domain.Produs"/>
        <mapping class="com.example.magazinonlineapp.domain.Comanda"/>
        <mapping class="com.example.magazinonlineapp.domain.ProdusComanda"/>

    </session-factory>
</hibernate-configuration>